section
	section.sec-slide.text-left
		h3 Eu sou...
		ul
			li.fragment Front End Developer
			li.fragment Apaixonado por desenvolvimento pra web (<3)

	section.sec-slide
	
		h3 Desenvolvedor Front End
		hr
		img(src="img/devevents.png", alt="Devevents-ce").fragment
		h3.fragment DevEvents
		
	
	section.sec-slide
		
		h2 Vocês podem me achar...
	
		.fragment
			h4 felipesousa.github.io
			br
		.fragment
			h4 github.com/felipesousa
			br
		.fragment
			h4 @felipz_sousa
