section.sec-slide.text-left
	h3.text-left Agenda
	ul
		li.fragment O que é um Desenvolvedor Front End?
		li.fragment As funções de um Desenvolvedor Front End
		li.fragment Importância de aprender inglês
		li.fragment O porque de ir pra eventos
		li.fragment Um pouco do meu Workflow 
