section(data-background="#2980b9")
	h1 O que é um Desenvolvedor Front End?
	ul
		li.fragment O desenvolvedor front end é o profissional responsável por <b>projetar, construir e otimizar</b> as interfaces de um projeto web.