section
	
	section.sec-slide
	
		h1 Funções básicas de um Front End
	
	section.sec-slide(data-background="white" data-transition="slide" data-background-transition="zoom") 

		h3.blue.fragment PROJETAR
		h3.blue.fragment CONSTRUIR
		h3.blue.fragment OTIMIZAR