section
	section.sec-slide(data-background="#2980b9")
		h1.white.fragment Projetar

	section.sec-slide(data-background="img/prototipo2.jpg")
		
		h1.white.fragment Prototipar

	section.sec-slide(data-background="#ffffff")
		img(src="img/cachorro.gif", alt="print")
		h3.blue.fragment NÃO!

		
		
