section
	section.sec-slide(data-background="#2980b9")
		h1.white.fragment Construir

	section.sec-slide(data-background="#ffffff")
			img(src="img/git-logo-2.png", alt="Logo GitHub")

	section.sec-slide(data-background="img/git1.png")

	section.sec-slide(data-background="#ffffff")
			img(src="img/github.png", alt="Logo GitHub")

	section.sec-slide(data-background="img/gitpersonal.png")

	section.sec-slide(data-background="#ffffff")
			h3.blue.fragment Seguir Pessoas
			h3.blue.fragment Observar projetos
			h3.blue.fragment Contribuir em projetos
			h3.blue.fragment Pedir Ajuda
			h3.blue.fragment Arranjar um emprego

	section.sec-slide(data-background="#ffffff")
		img(src="img/print-2.png", alt="print")
	
	section.sec-slide(data-background="#ffffff")
		img(src="img/print-7.png", alt="print")

	section.sec-slide(data-background="ffffff")
		img(src="img/gcom-logo.png", alt="globo")

	section.sec-slide(data-background="#ffffff")
		img(src="img/print-8.png", alt="print-8")

	section.sec-slide(data-background="img/happy.gif")
