section
	section.sec-slide(data-background="#2980b9")
		h1.white.fragment Otimizar

	section.sec-slide(data-background="img/party.gif")

	section.sec-slide(data-background="#ffffff")
		h3.blue.fragment Testar o projeto 
		h3.blue.fragment Corrigir erros
		h3.blue.fragment Entregar o projeto









	