section
	section.sec-slide(data-background="#93c47d")
		h1.white A importância de aprender inglês

	section.sec-slide(data-background="#ffffff")
		img(src='img/ingles2.png', alt='ingles')

	section.sec-slide(data-background="#ffffff")
		h3.blue.fragment Apenas 20% dos artigos são escritos em Português
		h3.blue.fragment Conta no currículo 
		h3.blue.fragment ... 



