section

	section.sec-slide(data-background="img/eventos.jpg")
		
		h1.white Eventos 
	
	section.sec-slide(data-background='#ffffff')

		h3.blue.fragment Aprender mais conteúdo
		h3.blue.fragment Conhecer mais pessoas
		h3.blue.fragment Ficar familiarizado com as pessoas
		h3.blue.fragment Ganhar oportunidades
		h3.blue.fragment Receber ajuda da comunidade
		h3.blue.fragment 0/  

	section.sec-slide(data-background='#ffffff')
		h1.blue.fragment Faça Amigos!
