section
	section.sec-slide(data-background="#2980b9")
		h1.white Workflow

	section.sec-slide(data-background="#ffffff")
		h3.blue.fragment 80% colaboração de amigos
		h3.blue.fragment 90% é JavaScript

	section.sec-slide(data-background="#2980b9")
		h3.white.fragment  <3 Software Livre 

	section.sec-slide(data-background="img/torvalds.gif")
		h3.white.fragment  <3 Software Livre  