section
	section.sec-slide(data-background='#ffffff')
		h2.blue.fragment HTML 
		h2.blue.fragment CSS
		h2.blue.fragment JavaScript

	section.sec-slide(data-background='#ffffff')
		img.top.fragment(src='img/stylus.png' )

	section.sec-slide(data-background='#ffffff')
		h4(margin-top='10px') style.css
		pre
			code(class="css") #topo{

			code(class="css") 	background-color: #3C3535;

			code(class="css") 	font-size: 18px;

			code(class="css") 	font-color: #5223DF;

			code(class="css") 	margin: 3px 5px 6px 8px;

			code(class="css") }
		
	section.sec-slide(data-background='#ffffff')
		h4(margin-top='10px') style.styl
		pre
			code(class="css") /*variaveis*/
			code(class="css") cor-fundo = #3C3535;
			code(class="css") fonte-tamanho = 18px;

			code(class="css") cor-fonte = #5223DF;

			code(class="css") margem-padrao = 3px 5px 6px 8px;

			code(class="css")      

			code(class="css") /*codigo em stylus*/

			code(class="css") #topo

			code(class="css") 	background-color cor-fundo

			code(class="css") 	font-size fonte-tamanho

			code(class="css") 	font-color cor-fonte

			code(class="css") 	margin margem-padrao

			code(class="css") 	  
		

	section.sec-slide(data-background='#ffffff')
		h4(margin-top='10px') style.css
		pre
			code(class="css") #topo{
			code(class="css") 	background-color: #3C3535;

			code(class="css") 	font-size: 18px;

			code(class="css") 	font-color: #5223DF;

			code(class="css") 	margin: 3px 5px 6px 8px;
			code(class="css") }

	section.sec-slide(data-background='#ffffff')
		img.fragment(src='img/iade.png')
	
	section.sec-slide(data-background='#ffffff')
		h4(margin-top='10px') index.jade
		pre
			code(class="html") html 
			code(class="html")  head 
			code(class="html")   body 

	section.sec-slide(data-background='#ffffff')
		h4.blue index.html
		img(src='img/jadeteste.png')


	section.sec-slide(data-background='#ffffff')
		img.right.fragment(src='img/angular.png' heigth='280' width='280')

	section.sec-slide(data-background='#ffffff')
		h2.blue Mão na Massa!