section 
	section.sec-slide(data-background='#ffffff')
		h2.blue.fragment Estude o máximo que você puder!
		h2.blue.fragment Faça Amigos 
		h2.blue.fragment Se dedique 
		h2.blue.fragment Cria um workflow foda e manda ver!  
