doctype html
html
	include inc/head
	body
		.reveal
			.slides
				include ../slides/01-inicio
				include ../slides/02-eu
				include ../slides/03-agenda
				include ../slides/04-o-que-e-um-desenvolvedor-front-end
				include ../slides/05-funcao
				include ../slides/06-projetar
				include ../slides/07-construir
				include ../slides/08-otimizar
				include ../slides/09-importancia-de-aprender-ingles
				include ../slides/10-eventos
				include ../slides/11-meu-workflow
				include ../slides/12-ferramentas
				include ../slides/13-dicas
				include ../slides/14-perguntas
				include ../slides/15-contatos
				include ../slides/16-fim 
		include inc/scripts

