head
	meta(charset="UTF-8")
	meta(name="description" content="Quase tudo que eu queria saber antes mesmo de comecar")
	meta(name="author" content="Felipe Sousa")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	title Front end Developer | @felipz_sousa
	link(rel="stylesheet", type="text/css", href="css/main.css")
	script(src="js/vendor/reveal.min.js")
